# .NET build results
bin/
obj/

# Avalonia specific
.platform/

# Rider / JetBrains
.idea/
.idea.PayApp.iml
.env
modules.xml
projectSettingsUpdater.xml
contentModel.xml
httpRequests/
dataSources/
dataSources.local.xml

# Visual Studio / VS Code specific
.vscode/

# Other files to ignore
*.user
*.suo
*.userosscache
*.sln.docstates
*.env
# NuGet packages
*.nupkg
packages/
